article {
  ul {
    @extend %default-ul;
  }

  ol {
    li {
      margin: 0;
    }
    @extend %default-ol;
  }

  input[type=checkbox] {
    padding: 13px, 0;
  }

  .highlight {
    table {
      width: auto;
    }
  }

  code {
    background-color: #EEE;
    padding: 2px;
  }
}
