#main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.large-column {
  float: left;
  width: 66%;
}

.small-column {
  float: left;
  width: 34%;
}
