<% wrap_layout :layout do %>
  <h3><%= link_to current_article.title, current_article %></h3>
  <h5><%= current_article.date.strftime('%b %d, %Y') %></h5>
  <article>
    <%= yield %>
  </article>

  <br />
  <h3>Comments</h3>
  <%= disqus %>
<% end %>
